<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stardew Wiki</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/alculator_styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h2>Welcome to</h2>
            <h1>Stardew Wiki</h1>
        </header>
        
        <main>
            <h3>Menu</h3>
            <ul class="menu">
                <li><img src="icon1.png" alt="Artifact Icon"> Artifacts</li>
                <li><img src="icon2.png" alt="Artisan Goods Icon"> Artisan Goods</li>
                <li><img src="icon3.png" alt="Bait Icon"> Bait</li>
            </ul>
        </main>
        
        <footer>
            <div class="social-icons">
                <a href="#"><img src="instagram-icon.png" alt="Instagram"> Instagram</a>
                <a href="#"><img src="telegram-icon.png" alt="Telegram"> Telegram</a>
                <a href="#"><img src="twitter-icon.png" alt="Twitter"> Twitter</a>
                <a href="#"><img src="reddit-icon.png" alt="Reddit"> Reddit</a>
            </div>
        </footer>
    </div>
</body>
</html>
