<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculators</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/cal_styles.css' %}">
</head>
<body>

    <header>
        <div class="logo-header">
            <h1 class="logo-text">Calculators</h1>
        </div>
    </header>

    <div class="content">
        <div class="content_container">
            <!-- Seed Expenses Calculator -->
            <div class="content_grp" onclick="window.location.href='http://localhost:8000/calculators/seed';">
                <div class="icon icon-seed"></div>
                <div class="text_calculators_menu">Calculator Seed expenses</div>
            </div>

            <!-- Profit Calculator -->
            <div class="content_grp" onclick="window.location.href='http://localhost:8000/calculators/profit';">
                <div class="icon icon-profit"></div>
                <div class="text_calculators_menu">Profit calculator</div>
            </div>

            <!-- High-Yield Crops Calculator -->
            <div class="content_grp" onclick="window.location.href='http://localhost:8000/calculators/crops';">
                <div class="icon icon-crops"></div>
                <div class="text_calculators_menu">Calculator of high-yielding crops</div>
            </div>

            <!-- Fertilizer Costs -->
            <div class="content_grp" onclick="window.location.href='http://localhost:8000/calculators/fertilizer';">
                <div class="icon icon-fertilizer"></div>
                <div class="text_calculators_menu">Fertilizer costs</div>
            </div>
        </div>
    </div>

    <footer>
        <div class="content_social">
            <div class="social_logo">
                <div class="social_icon icon-telegram"></div>
                <p>Telegram</p>
            </div>
            <div class="social_logo">
                <div class="social_icon icon-instagram"></div>
                <p>Instagram</p>
            </div>
        </div>
        <div class="content_social">
            <div class="social_logo">
                <div class="social_icon icon-reddit"></div>
                <p>Reddit</p>
            </div>
            <div class="social_logo">
                <div class="social_icon icon-twitter"></div>
                <p>Twitter</p>
            </div>
        </div>
    </footer>

</body>
</html>
